@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Vi er en klinik bestående af et engageret hold af dyrlæger, veterinærsygeplejersker og dyrepasserassistenter i Københavns Nordvestkvarter.</p>
