@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tuborgvej 266 B<br />
    2400 København<br />
    <abbr title="Telefon">Tlf:</abbr>
    +45 2162 8542
</address>

