@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="imgslice">
        @{Html.RenderPartial("ImageSlice"); }

    </div>
</div>

<div class="jumbotron">
    <h1 class="text-center">Grundtvigs Dyreklinik</h1>
    <p class="lead">Vi er en klinik bestående af et engageret hold af dyrlæger, veterinærsygeplejersker og dyrepasserassistenter i Københavns Nordvestkvarter.</p>
    <p><a href="https://da-dk.facebook.com/GrundtvigsDyreklinik/" class="btn btn-primary btn-lg">Læs mere om os på Facebook &raquo;</a></p>
</div>

<div class="row">
</div>