


<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">

                <img src="~/ImageSlice/Untitled.png">
                <div class="carousel-caption">
                    <br />
                    <p>Grundtvigs Dyreklinik.</p>
                </div>

            </div>

            @{var path = "~/ImageSlice/";
                var listOfFileNames = Directory.GetFiles(Server.MapPath(path))
                .Select(p => path + Path.GetFileName(p));
            }
            @foreach (var item in listOfFileNames)
            {
                <div class="item">

                    <img src="@Url.Content(item)" />
                </div>
            }

        </div>
    </div>
</div>
